# Fill in these env vars with your variables
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=
# JWT_SECRET=

# these vars are the databse host/post that docker-compose
# will setup based on the services names
PROCRASTDB_HOST=procrastdb
PROCRASTDB_PORT=5432
USERDB_HOST=userdb
USERDB_PORT=5432

